{{ define "main" }}
<h2>{{ .Title }}</h2>
{{ .Content }}

<ul class="papers-list">
  {{ range .Pages.ByWeight }}
  <li>
    <h3>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3>
    <small>
      {{ with .Params.authors }}{{ delimit . ", " }}{{ end }}
      {{ with .Params.version }} • {{ . }}{{ end }}
      {{ with .Params.pdf }} • <a href="{{ . }}">PDF</a>{{ end }}
    </small>

    {{ with .Params.abstract }}
    <details><summary>Abstract</summary><p>{{ . }}</p></details>
    {{ end }}
  </li>
  {{ end }}
</ul>
{{ end }}
