{{ define "main" }}
<h2>{{ .Title }}</h2>
{{ .Content }}

<ul class="papers-list">
  {{ range .Pages.ByTitle }}
    <li>
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <small>
        {{ delimit .Params.authors ", " }}
        {{ with .Params.version }} • {{ . }}{{ end }}
        {{ if .Params.pdf }} • <a href="{{ .Params.pdf }}">PDF</a>{{ end }}
      </small>

      {{ with .Params.abstract }}
        <details><summary>Abstract</summary><p>{{ . }}</p></details>
      {{ end }}
    </li>
  {{ end }}
</ul>
{{ end }}
